In [1]:
#import libraries
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
# Create a dictionary with column names as keys and column values as values
data_one = {
    'Column1': [1, 2, 3, 4, 5],
    'Column2': ['A', 'B', 'C', 'D', 'E'],
    'Column3': [True, False, True, False, True]
}

# Create the DataFrame using the dictionary
test_one_df = pd.DataFrame(data_one)

# Display the DataFrame
print(test_one_df)

   Column1 Column2  Column3
0        1       A     True
1        2       B    False
2        3       C     True
3        4       D    False
4        5       E     True

In [6]:
# Create a dictionary with column names as keys and column values as values
data_two = {
    'Column1': [1, 2, 3, 4, 5, 6, 7],
    'Column2': ['Green', 'Orange', 'Red', 'Black', 'Purple', 'White', 'Blue'],
    'Column3': [365, 117, 64, 215, 45, 70, 47]
}

# Create the DataFrame using the dictionary
test_two_df = pd.DataFrame(data_two)

# Display the DataFrame
print(test_two_df)

   Column1 Column2  Column3
0        1   Green      365
1        2  Orange      117
2        3     Red       64
3        4   Black      215
4        5  Purple       45
5        6   White       70
6        7    Blue       47

In [7]:
test_one_df.shape

(5, 3)

In [8]:
test_two_df.shape

(7, 3)

In [10]:
# merge dfs - INNER

merged_test_df = pd.merge(test_one_df, test_two_df, on='Column1', how='inner')

merged_test_df

   Column1 Column2_x  Column3_x Column2_y  Column3_y
0        1         A       True     Green        365
1        2         B      False    Orange        117
2        3         C       True       Red         64
3        4         D      False     Black        215
4        5         E       True    Purple         45

In [12]:
merged_test_df = test_one_df.merge(test_two_df, left_on='Column1', right_on='Column1')

merged_test_df

   Column1 Column2_x  Column3_x Column2_y  Column3_y
0        1         A       True     Green        365
1        2         B      False    Orange        117
2        3         C       True       Red         64
3        4         D      False     Black        215
4        5         E       True    Purple         45