In [1]:
#import libraries
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
#get data
# Read CSV file into a DataFrame
deal_df = pd.read_csv('../data_resources/deal_summary_data.csv')
prod_df = pd.read_csv('../data_resources/prod_data.csv')

In [3]:
# Convert 'po_number' column to string data type in both DataFrames
deal_df['po_number'] = deal_df['po_number'].astype(str)
prod_df['po_number'] = prod_df['po_number'].astype(str)

In [4]:
#merge csv files

# Merge the DataFrames based on the 'po_number' column
# Now, you can perform the merge operation
deal_prod_merge_df = pd.merge(deal_df, prod_df, on='po_number', how="outer")
deal_prod_merge_df.head()

,deal_id_x,po_number,Create Date - Daily,Quantity,Amount in company currency,Client Type,Deal Type,Special Order Type,Deal Stage,Automation Tools,...,manufacturing_shipment_id,manufacturing_id,product_info_id,manufacturing_cart_id,units_produced,alt_deal_id,mfc_created_at,ship_date,dozens,cost
0,1.717178e+10,44887,1/26/2024,120,1080,Distributor,Existing Business,(No value),Production,Reorder Button,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.717328e+10,44925,1/26/2024,60,962.4,Direct,Existing Business,(No value),Production,Reorder Button,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.717315e+10,44911,1/26/2024,75,747.75,Distributor,Existing Business,(No value),Production,Portal Order,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.717590e+10,44947,1/26/2024,425,3200.25,Distributor,Existing Business,(No value),Production,Reorder Button,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.717167e+10,44886,1/26/2024,60,797.4,Distributor,Existing Business,(No value),Production,(No value),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Save the merged DataFrame as a new CSV file
deal_prod_merge_df.to_csv('merged_data.csv', index=False)

In [ ]:
#create a new df from your merged csv files

In [ ]:
#rename columns

In [ ]:
#check for duplicates and missing data