In [1]:
#import libraries
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
#get data
# Read CSV file into a DataFrame
deal_df = pd.read_csv('../data_resources/deal_summary_data.csv')
prod_df = pd.read_csv('../data_resources/prod_data.csv')

In [3]:
# Convert 'po_number' column to string data type in both DataFrames
deal_df['po_number'] = deal_df['po_number'].astype(str)
prod_df['po_number'] = prod_df['po_number'].astype(str)

In [4]:
prod_df.shape

(24055, 19)

In [5]:
deal_df.shape

(24270, 14)

In [14]:
#rename prod columns
renamed_prod_df = prod_df.rename(columns={"mfp_quantity": "total_intl_product_quantity",
                                "Total SKU on PO": "total_product_quantity",
                                "hs_client_type": "client_type",
                                "hs_dealtype": "deal_type",
                                "unit_cost": "intl_unit_cost",
                                "fixed_cost" :"fixed_intl_pkg_cost",
                                "COGS int SKU Cost" : "total_intl_unit_cost_dont_use",
                                "COGS PKF Sock domestic SKU Cost" : "total_sku_cost",
                                "submitted_at" : "submitted_to_prod"
                                   })

renamed_prod_df.head()

,po_number,SKU,chassis,total_intl_product_quantity,mfp_product_info,vendor_id,est_ship_date,submitted_to_prod,client_type,deal_type,deal_id,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,total_product_quantity,cost_per_sku,total_sku_cost
0,18176,10.0248100v1,10,NaN,2,1,NaN,9/21/2021,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,150.0,1.79,300.72
1,18176,10.0248099v1,10,NaN,2,1,NaN,9/21/2021,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,150.0,1.79,300.72
2,20161,10.0214479v2,10,NaN,2,1,NaN,7/22/2021,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,60.0,2.29,164.88
3,20211,10.0245903v1,10,NaN,2,3,NaN,9/14/2021,NaN,NaN,NaN,34,NaN,NaN,NaN,NaN,400.0,2.41,1012.20
4,20454,10.0224312v1,10,NaN,2,1,NaN,9/1/2021,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,120.0,1.79,236.28

In [23]:
# rename deal_df columns
renamed_deal_df = deal_df.rename(columns={"Create Date - Daily": "order_created",
                                "Quantity": "total_deal_quantity",
                                "Deal Stage": "deal_stage",
                                "Deal Type": "deal_type",
                                "Design Difficulty": "design_difficulty",
                                "Revisions": "revisions",
                                "Automation Tools": "automation_tools",
                                "Deal Source CA": "deal_source_ca",
                                "Number of Associated Contacts": "number_of_associated_contacts",
                                "Special Order Type": "special_order_type",
                                "Deal Source CA": "deal_source_ca",
                                "Client Type": "client_type",
                                "Amount in company currency": "amount_in_company_currency"})
renamed_deal_df.head()

,deal_id,po_number,order_created,total_deal_quantity,amount_in_company_currency,client_type,deal_type,special_order_type,deal_stage,automation_tools,revisions,deal_source_ca,number_of_associated_contacts,design_difficulty
0,3951840051,16733,1/6/2021,54.0,0.00,Direct,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,1,NaN
1,3937957448,17532,1/4/2021,90.0,945.00,Distributor,Existing Business,NaN,Closed and Won,NaN,NaN,Pre-Hubspot Contact,2,NaN
2,3938541962,17535,1/4/2021,240.0,4528.98,Direct,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,1,NaN
3,3943305218,17540,1/5/2021,3156.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,0,NaN
4,3943391716,17541,1/5/2021,1080.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,0,NaN

In [39]:
#merge csv files

# Merge the DataFrames based on the 'po_number' column
# Now, you can perform the merge operation
deal_prod_merge_df = pd.merge(renamed_deal_df, renamed_prod_df, on='po_number', how="left")
deal_prod_merge_df.head()

,deal_id_x,po_number,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,total_product_quantity,cost_per_sku,total_sku_cost
0,3951840051,16733,1/6/2021,54.0,0.00,Direct,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3937957448,17532,1/4/2021,90.0,945.00,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3938541962,17535,1/4/2021,240.0,4528.98,Direct,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3943305218,17540,1/5/2021,3156.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3943391716,17541,1/5/2021,1080.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# Save the merged DataFrame as a new CSV file
deal_prod_merge_df.to_csv('renamed_merged_data.csv', index=False)

In [42]:
# Convert the 'submitted_to_prod' column to datetime if it's not already
deal_prod_merge_df['submitted_to_prod'] = pd.to_datetime(deal_prod_merge_df['submitted_to_prod'])

# Filter the DataFrame to include only dates in 2022 and 2023
deal_prod_merge_22_23_df = deal_prod_merge_df[deal_prod_merge_df['submitted_to_prod'].dt.year.isin([2022, 2023])]

deal_prod_merge_22_23_df.head()

,deal_id_x,po_number,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,total_product_quantity,cost_per_sku,total_sku_cost
3653,6324219821,21408,9/28/2021,60.0,832.2,Direct,Existing Business,NaN,Closed and Won,Reorder Button,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,60.0,2.56,184.32
3804,6312709524,21546,9/27/2021,60.0,630.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,60.0,2.56,184.32
5530,6954332007,23021,11/18/2021,1000.0,6460.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,50.0,NaN,NaN,NaN,NaN,600.0,1.88,1150.56
5531,6954332007,23021,11/18/2021,1000.0,6460.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,34.0,NaN,NaN,NaN,NaN,400.0,1.96,823.20
5615,7049269626,23099,11/30/2021,60.0,540.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,60.0,2.56,184.32

In [43]:
# Save the merged DataFrame as a new CSV file
deal_prod_merge_22_23_df.to_csv('renamed_merged_22_23_data.csv', index=False)

In [51]:
# Assuming your DataFrame is named df
column_names = deal_prod_merge_22_23_df.columns.tolist()

# Print the list of column names
print(column_names)

['deal_id_x', 'po_number', 'order_created', 'total_deal_quantity', 'amount_in_company_currency', 'client_type_x', 'deal_type_x', 'special_order_type', 'deal_stage', 'automation_tools', 'revisions', 'deal_source_ca', 'number_of_associated_contacts', 'design_difficulty', 'SKU', 'chassis', 'total_intl_product_quantity', 'mfp_product_info', 'vendor_id', 'est_ship_date', 'submitted_to_prod', 'client_type_y', 'deal_type_y', 'deal_id_y', 'Total SKU DZ on PO', 'intl_unit_cost', 'fixed_intl_pkg_cost', 'total_intl_unit_cost_dont_use', 'COGS int SKU Cost exact', 'total_product_quantity', 'cost_per_sku', 'total_sku_cost']

In [53]:
# Load your data
# df = pd.read_csv('your_file.csv')  # Replace with your file path

# Define the aggregation logic
# Define the aggregation logic with additional columns
aggregations = {
    'deal_id_x': 'first',
    'order_created': 'first',
    'total_deal_quantity': 'sum',
    'amount_in_company_currency': 'first',
    'client_type_x': 'first',
    'deal_type_x': 'first',
    'special_order_type': 'first',
    'deal_stage': 'first',
    'automation_tools': 'first',
    'revisions': 'first',
    'deal_source_ca': 'first',
    'number_of_associated_contacts': 'first',
    'design_difficulty': 'first',
    'SKU': 'first',
    'chassis': 'first',
    'total_intl_product_quantity': 'sum',
    'mfp_product_info': 'first',
    'vendor_id': 'first',
    'est_ship_date': 'first',
    'submitted_to_prod': 'first',
    'client_type_y': 'first',
    'deal_type_y': 'first',
    'deal_id_y': 'first',
    'Total SKU DZ on PO': 'sum',
    'intl_unit_cost': 'first',
    'fixed_intl_pkg_cost': 'first',
    'total_intl_unit_cost_dont_use': 'sum',
    'COGS int SKU Cost exact': 'sum',
    'total_product_quantity': 'sum',
    'cost_per_sku': 'first',
    'total_sku_cost': 'sum'
}

# Group by PO and aggregate
filtered_deal_prod_summary_df = deal_prod_merge_22_23_df.groupby('po_number').agg(aggregations)

# Create a boolean series to determine if the PO number is duplicated in the original dataframe
is_duplicated = deal_prod_merge_22_23_df['po_number'].duplicated(keep=False)

# Map this series to the grouped dataframe
filtered_deal_prod_summary_df['is_duplicated'] = filtered_deal_prod_summary_df.index.map(is_duplicated)

# Handle total units based on uniqueness of PO
filtered_deal_prod_summary_df['total_deal_quantity'] = filtered_deal_prod_summary_df.apply(
    lambda x: x['total_product_quantity'] if x['is_duplicated'] else deal_prod_merge_22_23_df.loc[deal_prod_merge_22_23_df['po_number'] == x.name, 'total_deal_quantity'].iloc[0], 
    axis=1
)

# Drop the now redundant columns
filtered_deal_prod_summary_df = filtered_deal_prod_summary_df.drop(columns=['total_product_quantity', 'is_duplicated'])

# Reset index if needed
filtered_deal_prod_summary_df = filtered_deal_prod_summary_df.reset_index()

filtered_deal_prod_summary_df.head()

,po_number,deal_id_x,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,client_type_y,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,cost_per_sku,total_sku_cost
0,21408,6324219821,9/28/2021,60.0,832.2,Direct,Existing Business,None,Closed and Won,Reorder Button,...,None,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32
1,21546,6312709524,9/27/2021,60.0,630.0,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32
2,23021,6954332007,11/18/2021,1000.0,6460.0,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,84.0,NaN,NaN,0.0,0.0,1.88,1973.76
3,23099,7049269626,11/30/2021,60.0,540.0,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32
4,23341,7229722885,12/12/2021,720.0,4456.8,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,60.0,NaN,NaN,0.0,0.0,1.91,1398.12

In [54]:
# Save the merged filtered summary DataFrame as a new CSV file
filtered_deal_prod_summary_df.to_csv('filtered_deal_prod_summary_data.csv', index=False)

In [ ]:
#check for duplicates and missing data