In [40]:
#import libraries
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy as sp
import numpy as np
from scipy import stats

In [41]:
#get data
# Read CSV file into a DataFrame
deal_df = pd.read_csv('../data_resources/deal_summary_data.csv')
prod_df = pd.read_csv('../data_resources/prod_data.csv')

In [42]:
# Convert 'po_number' column to string data type in both DataFrames
deal_df['po_number'] = deal_df['po_number'].astype(str)
prod_df['po_number'] = prod_df['po_number'].astype(str)

In [43]:
prod_df.shape

(24055, 19)

In [44]:
deal_df.shape

(24270, 14)

In [45]:
#rename prod columns
renamed_prod_df = prod_df.rename(columns={"mfp_quantity": "total_intl_product_quantity",
                                "Total SKU on PO": "total_product_quantity",
                                "hs_client_type": "client_type",
                                "hs_dealtype": "deal_type",
                                "unit_cost": "intl_unit_cost",
                                "fixed_cost" :"fixed_intl_pkg_cost",
                                "COGS int SKU Cost" : "total_intl_unit_cost_dont_use",
                                "COGS int SKU Cost exact" : "total_intl_sku_cost",
                                "COGS PKF Sock domestic SKU Cost" : "total_sku_cost",
                                "submitted_at" : "submitted_to_prod"
                                   })

renamed_prod_df.head()

,po_number,SKU,chassis,total_intl_product_quantity,mfp_product_info,vendor_id,est_ship_date,submitted_to_prod,client_type,deal_type,deal_id,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,total_product_quantity,cost_per_sku,total_sku_cost
0,18176,10.0248100v1,10,NaN,2,1,NaN,9/21/2021,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,150.0,1.79,300.72
1,18176,10.0248099v1,10,NaN,2,1,NaN,9/21/2021,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,150.0,1.79,300.72
2,20161,10.0214479v2,10,NaN,2,1,NaN,7/22/2021,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,60.0,2.29,164.88
3,20211,10.0245903v1,10,NaN,2,3,NaN,9/14/2021,NaN,NaN,NaN,34,NaN,NaN,NaN,NaN,400.0,2.41,1012.20
4,20454,10.0224312v1,10,NaN,2,1,NaN,9/1/2021,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,120.0,1.79,236.28

In [46]:
# rename deal_df columns
renamed_deal_df = deal_df.rename(columns={"Create Date - Daily": "order_created",
                                "Quantity": "total_deal_quantity",
                                "Deal Stage": "deal_stage",
                                "Deal Type": "deal_type",
                                "Design Difficulty": "design_difficulty",
                                "Revisions": "revisions",
                                "Automation Tools": "automation_tools",
                                "Deal Source CA": "deal_source_ca",
                                "Number of Associated Contacts": "number_of_associated_contacts",
                                "Special Order Type": "special_order_type",
                                "Deal Source CA": "deal_source_ca",
                                "Client Type": "client_type",
                                "Amount in company currency": "amount_in_company_currency"})
renamed_deal_df.head()

,deal_id,po_number,order_created,total_deal_quantity,amount_in_company_currency,client_type,deal_type,special_order_type,deal_stage,automation_tools,revisions,deal_source_ca,number_of_associated_contacts,design_difficulty
0,3951840051,16733,1/6/2021,54.0,0.00,Direct,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,1,NaN
1,3937957448,17532,1/4/2021,90.0,945.00,Distributor,Existing Business,NaN,Closed and Won,NaN,NaN,Pre-Hubspot Contact,2,NaN
2,3938541962,17535,1/4/2021,240.0,4528.98,Direct,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,1,NaN
3,3943305218,17540,1/5/2021,3156.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,0,NaN
4,3943391716,17541,1/5/2021,1080.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,NaN,NaN,0,NaN

In [47]:
#merge csv files

# Merge the DataFrames based on the 'po_number' column
# Now, you can perform the merge operation
deal_prod_merge_df = pd.merge(renamed_deal_df, renamed_prod_df, on='po_number', how="left")
deal_prod_merge_df.head()

,deal_id_x,po_number,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,total_product_quantity,cost_per_sku,total_sku_cost
0,3951840051,16733,1/6/2021,54.0,0.00,Direct,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3937957448,17532,1/4/2021,90.0,945.00,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3938541962,17535,1/4/2021,240.0,4528.98,Direct,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3943305218,17540,1/5/2021,3156.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3943391716,17541,1/5/2021,1080.0,NaN,NaN,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Save the merged DataFrame as a new CSV file
deal_prod_merge_df.to_csv('renamed_merged_data.csv', index=False)

In [49]:
# Convert the 'submitted_to_prod' column to datetime if it's not already
deal_prod_merge_df['submitted_to_prod'] = pd.to_datetime(deal_prod_merge_df['submitted_to_prod'])

# Filter the DataFrame to include only dates in 2022 and 2023
deal_prod_merge_22_23_df = deal_prod_merge_df[deal_prod_merge_df['submitted_to_prod'].dt.year.isin([2022, 2023])]

deal_prod_merge_22_23_df.head()

,deal_id_x,po_number,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,total_product_quantity,cost_per_sku,total_sku_cost
3653,6324219821,21408,9/28/2021,60.0,832.2,Direct,Existing Business,NaN,Closed and Won,Reorder Button,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,60.0,2.56,184.32
3804,6312709524,21546,9/27/2021,60.0,630.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,60.0,2.56,184.32
5530,6954332007,23021,11/18/2021,1000.0,6460.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,50.0,NaN,NaN,NaN,NaN,600.0,1.88,1150.56
5531,6954332007,23021,11/18/2021,1000.0,6460.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,34.0,NaN,NaN,NaN,NaN,400.0,1.96,823.20
5615,7049269626,23099,11/30/2021,60.0,540.0,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,60.0,2.56,184.32

In [50]:
# Save the merged DataFrame as a new CSV file
deal_prod_merge_22_23_df.to_csv('renamed_merged_22_23_data.csv', index=False)

In [51]:
# Assuming your DataFrame is named df
column_names = deal_prod_merge_22_23_df.columns.tolist()

# Print the list of column names
print(column_names)

['deal_id_x', 'po_number', 'order_created', 'total_deal_quantity', 'amount_in_company_currency', 'client_type_x', 'deal_type_x', 'special_order_type', 'deal_stage', 'automation_tools', 'revisions', 'deal_source_ca', 'number_of_associated_contacts', 'design_difficulty', 'SKU', 'chassis', 'total_intl_product_quantity', 'mfp_product_info', 'vendor_id', 'est_ship_date', 'submitted_to_prod', 'client_type_y', 'deal_type_y', 'deal_id_y', 'Total SKU DZ on PO', 'intl_unit_cost', 'fixed_intl_pkg_cost', 'total_intl_unit_cost_dont_use', 'COGS int SKU Cost exact', 'total_product_quantity', 'cost_per_sku', 'total_sku_cost']

In [52]:
# Load your data
# df = pd.read_csv('your_file.csv')  # Replace with your file path

# Define the aggregation logic
# Define the aggregation logic with additional columns
aggregations = {
    'deal_id_x': 'first',
    'order_created': 'first',
    'total_deal_quantity': 'sum',
    'amount_in_company_currency': 'first',
    'client_type_x': 'first',
    'deal_type_x': 'first',
    'special_order_type': 'first',
    'deal_stage': 'first',
    'automation_tools': 'first',
    'revisions': 'first',
    'deal_source_ca': 'first',
    'number_of_associated_contacts': 'first',
    'design_difficulty': 'first',
    'SKU': 'first',
    'chassis': 'first',
    'total_intl_product_quantity': 'sum',
    'mfp_product_info': 'first',
    'vendor_id': 'first',
    'est_ship_date': 'first',
    'submitted_to_prod': 'first',
    'client_type_y': 'first',
    'deal_type_y': 'first',
    'deal_id_y': 'first',
    'Total SKU DZ on PO': 'sum',
    'intl_unit_cost': 'first',
    'fixed_intl_pkg_cost': 'first',
    'total_intl_unit_cost_dont_use': 'sum',
    'COGS int SKU Cost exact': 'sum',
    'total_product_quantity': 'sum',
    'cost_per_sku': 'first',
    'total_sku_cost': 'sum'
}

# Group by PO and aggregate
filtered_deal_prod_summary_df = deal_prod_merge_22_23_df.groupby('po_number').agg(aggregations)

# Create a boolean series to determine if the PO number is duplicated in the original dataframe
is_duplicated = deal_prod_merge_22_23_df['po_number'].duplicated(keep=False)

# Map this series to the grouped dataframe
filtered_deal_prod_summary_df['is_duplicated'] = filtered_deal_prod_summary_df.index.map(is_duplicated)

# Handle total units based on uniqueness of PO
filtered_deal_prod_summary_df['total_deal_quantity'] = filtered_deal_prod_summary_df.apply(
    lambda x: x['total_product_quantity'] if x['is_duplicated'] else deal_prod_merge_22_23_df.loc[deal_prod_merge_22_23_df['po_number'] == x.name, 'total_deal_quantity'].iloc[0], 
    axis=1
)

# Drop the now redundant columns
filtered_deal_prod_summary_df = filtered_deal_prod_summary_df.drop(columns=['total_product_quantity', 'is_duplicated'])

# Reset index if needed
filtered_deal_prod_summary_df = filtered_deal_prod_summary_df.reset_index()

filtered_deal_prod_summary_df.head()

,po_number,deal_id_x,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,client_type_y,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,cost_per_sku,total_sku_cost
0,21408,6324219821,9/28/2021,60.0,832.2,Direct,Existing Business,None,Closed and Won,Reorder Button,...,None,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32
1,21546,6312709524,9/27/2021,60.0,630.0,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32
2,23021,6954332007,11/18/2021,1000.0,6460.0,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,84.0,NaN,NaN,0.0,0.0,1.88,1973.76
3,23099,7049269626,11/30/2021,60.0,540.0,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32
4,23341,7229722885,12/12/2021,720.0,4456.8,Distributor,Existing Business,None,Closed and Won,None,...,None,None,NaN,60.0,NaN,NaN,0.0,0.0,1.91,1398.12

In [53]:
# Save the merged filtered summary DataFrame as a new CSV file
# filtered_deal_prod_summary_df.to_csv('filtered_deal_prod_summary_data.csv', index=False)
# A little manual cleanup was done to this file.  So I'm commenting out to not overwrite this.
# File that was manually cleaned up is being imported in cell below :
# Columm name COGS int SKU Cost exact was changed to total_intl_sku_cost as well here.

In [67]:
# bring back csv to filtered_deal_prod_summary_df - after additional cleaning 
cleaned_deal_prod_summary_df = pd.read_csv('filtered_deal_prod_summary_data.csv')

cleaned_deal_prod_summary_df.shape

(16829, 31)

In [68]:
# create summary statistics dataframe to hold results of these preliminary summary stats - for both years combined - to get some whole-group numbers, etc.
summary_stats_full_df = pd.DataFrame(columns=['Statistic', 'Column', 'Value'])

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# create list of column names
columns = ['total_deal_quantity', 
           'amount_in_company_currency', 
           'number_of_associated_contacts',
           'total_intl_product_quantity',
           'Total SKU DZ on PO',
           'cost_per_sku',
           'total_sku_cost'
             ]

# Iterate over the column names
for column_name in columns:
    # Perform summary statistics
    count = cleaned_deal_prod_summary_df[column_name].count()
    sum_value = cleaned_deal_prod_summary_df[column_name].sum()
    mean_value = cleaned_deal_prod_summary_df[column_name].mean()
    median_value = cleaned_deal_prod_summary_df[column_name].median()
    min_value = cleaned_deal_prod_summary_df[column_name].min()
    max_value = cleaned_deal_prod_summary_df[column_name].max()
    std_value = cleaned_deal_prod_summary_df[column_name].std()
    q1 = cleaned_deal_prod_summary_df[column_name].quantile(0.25)
    q3 = cleaned_deal_prod_summary_df[column_name].quantile(0.75)

    # Create a new DataFrame with the summary statistics
    summary_mid_df = pd.DataFrame({'Statistic': ['Count', 'Sum', 'Mean', 'Median', 'Min', 'Max', 'Std', 'Q1', 'Q3'],
                                   'Column': [column_name, column_name, column_name, column_name, column_name, column_name, column_name, column_name, column_name],
                                   'Value': [count, sum_value, mean_value, median_value, min_value, max_value, std_value, q1, q3]})

    # Concatenate the new DataFrame with the summary_stats_full_df DataFrame
    summary_stats_full_df = pd.concat([summary_stats_full_df, summary_mid_df], ignore_index=True)

  # Save the merged DataFrame as a new CSV file
summary_stats_full_df.to_csv('summary_stats_full.csv', index=False)

# Print the summary dataframe
print(summary_stats_full_df)

# Reset the display format to the default
pd.options.display.float_format = None

   Statistic               Column      Value
0      Count  total_deal_quantity   16829.00
1        Sum  total_deal_quantity 5327442.00
2       Mean  total_deal_quantity     316.56
3     Median  total_deal_quantity     149.00
4        Min  total_deal_quantity       0.00
..       ...                  ...        ...
58       Min       total_sku_cost       0.00
59       Max       total_sku_cost   43086.72
60       Std       total_sku_cost    1202.16
61        Q1       total_sku_cost     281.28
62        Q3       total_sku_cost     751.92

[63 rows x 3 columns]

C:\Users\atlas\AppData\Local\Temp\ipykernel_7668\3231717597.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary_stats_full_df = pd.concat([summary_stats_full_df, summary_mid_df], ignore_index=True)

In [69]:
# Assuming you have a DataFrame called 'df' and a column called 'column_name'
value = cleaned_deal_prod_summary_df.loc[0, 'submitted_to_prod']
data_type = type(value)

print(data_type)

<class 'str'>

In [70]:
# summary stats for 2022 only - based on submitted_to_prod_column

# convert the submitted_to_prod from timestamp to datetime 
cleaned_deal_prod_summary_df['submitted_to_prod'] = pd.to_datetime(cleaned_deal_prod_summary_df['submitted_to_prod'])

# create summary statistics dataframe to hold results of these preliminary summary stats - for 2022 - to get some whole-group numbers, etc.
summary_stats_2022_df = pd.DataFrame(columns=['Statistic', 'Column', 'Value'])

filtered_deal_prod_2022_df = cleaned_deal_prod_summary_df[cleaned_deal_prod_summary_df['submitted_to_prod'].dt.year == 2022]

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# create list of column names
columns = ['total_deal_quantity', 
           'amount_in_company_currency', 
           'number_of_associated_contacts',
           'total_intl_product_quantity',
           'Total SKU DZ on PO',
           'cost_per_sku',
           'total_sku_cost'
             ]

# Iterate over the column names
for column_name in columns:
    # Perform summary statistics
    count = filtered_deal_prod_2022_df[column_name].count()
    sum_value = filtered_deal_prod_2022_df[column_name].sum()
    mean_value = filtered_deal_prod_2022_df[column_name].mean()
    median_value = filtered_deal_prod_2022_df[column_name].median()
    min_value = filtered_deal_prod_2022_df[column_name].min()
    max_value = filtered_deal_prod_2022_df[column_name].max()
    std_value = filtered_deal_prod_2022_df[column_name].std()
    q1 = filtered_deal_prod_2022_df[column_name].quantile(0.25)
    q3 = filtered_deal_prod_2022_df[column_name].quantile(0.75)

    # Create a new DataFrame with the summary statistics
    summary_2022_df = pd.DataFrame({'Statistic': ['Count', 'Sum', 'Mean', 'Median', 'Min', 'Max', 'Std', 'Q1', 'Q3'],
                                   'Column': [column_name, column_name, column_name, column_name, column_name, column_name, column_name, column_name, column_name],
                                   'Value': [count, sum_value, mean_value, median_value, min_value, max_value, std_value, q1, q3]})

    # Concatenate the new DataFrame with the summary_stats_full_df DataFrame
    summary_stats_2022_df = pd.concat([summary_stats_2022_df, summary_2022_df], ignore_index=True)

  # Save the merged DataFrame as a new CSV file
summary_stats_2022_df.to_csv('summary_stats_2022.csv', index=False)

# Print the summary dataframe
print(summary_stats_2022_df)

# Reset the display format to the default
pd.options.display.float_format = None

   Statistic               Column      Value
0      Count  total_deal_quantity    8079.00
1        Sum  total_deal_quantity 2675442.00
2       Mean  total_deal_quantity     331.16
3     Median  total_deal_quantity     150.00
4        Min  total_deal_quantity       0.00
..       ...                  ...        ...
58       Min       total_sku_cost       0.00
59       Max       total_sku_cost     375.96
60       Std       total_sku_cost      87.22
61        Q1       total_sku_cost     185.76
62        Q3       total_sku_cost     337.92

[63 rows x 3 columns]

C:\Users\atlas\AppData\Local\Temp\ipykernel_7668\1881183303.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary_stats_2022_df = pd.concat([summary_stats_2022_df, summary_2022_df], ignore_index=True)

In [71]:
# summary stats for 2023 only - based on submitted_to_prod_column

# convert the submitted_to_prod from timestamp to datetime 
cleaned_deal_prod_summary_df['submitted_to_prod'] = pd.to_datetime(cleaned_deal_prod_summary_df['submitted_to_prod'])

# create summary statistics dataframe to hold results of these preliminary summary stats - for 2023 - to get some whole-group numbers, etc.
summary_stats_2023_df = pd.DataFrame(columns=['Statistic', 'Column', 'Value'])

filtered_deal_prod_2023_df = cleaned_deal_prod_summary_df[cleaned_deal_prod_summary_df['submitted_to_prod'].dt.year == 2023]

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# create list of column names
columns = ['total_deal_quantity', 
           'amount_in_company_currency', 
           'number_of_associated_contacts',
           'total_intl_product_quantity',
           'Total SKU DZ on PO',
           'cost_per_sku',
           'total_sku_cost'
             ]

# Iterate over the column names
for column_name in columns:
    # Perform summary statistics
    count = filtered_deal_prod_2023_df[column_name].count()
    sum_value = filtered_deal_prod_2023_df[column_name].sum()
    mean_value = filtered_deal_prod_2023_df[column_name].mean()
    median_value = filtered_deal_prod_2023_df[column_name].median()
    min_value = filtered_deal_prod_2023_df[column_name].min()
    max_value = filtered_deal_prod_2023_df[column_name].max()
    std_value = filtered_deal_prod_2023_df[column_name].std()
    q1 = filtered_deal_prod_2023_df[column_name].quantile(0.25)
    q3 = filtered_deal_prod_2023_df[column_name].quantile(0.75)

    # Create a new DataFrame with the summary statistics
    summary_2023_df = pd.DataFrame({'Statistic': ['Count', 'Sum', 'Mean', 'Median', 'Min', 'Max', 'Std', 'Q1', 'Q3'],
                                   'Column': [column_name, column_name, column_name, column_name, column_name, column_name, column_name, column_name, column_name],
                                   'Value': [count, sum_value, mean_value, median_value, min_value, max_value, std_value, q1, q3]})

    # Concatenate the new DataFrame with the summary_stats_full_df DataFrame
    summary_stats_2023_df = pd.concat([summary_stats_2023_df, summary_2023_df], ignore_index=True)

  # Save the merged DataFrame as a new CSV file
summary_stats_2023_df.to_csv('summary_stats_2023.csv', index=False)

# Print the summary dataframe
print(summary_stats_2023_df)

# Reset the display format to the default
pd.options.display.float_format = None

   Statistic               Column      Value
0      Count  total_deal_quantity    8750.00
1        Sum  total_deal_quantity 2652000.00
2       Mean  total_deal_quantity     303.09
3     Median  total_deal_quantity     125.00
4        Min  total_deal_quantity       0.00
..       ...                  ...        ...
58       Min       total_sku_cost     203.76
59       Max       total_sku_cost   43086.72
60       Std       total_sku_cost    1548.66
61        Q1       total_sku_cost     520.56
62        Q3       total_sku_cost    1243.56

[63 rows x 3 columns]

C:\Users\atlas\AppData\Local\Temp\ipykernel_7668\1052694521.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary_stats_2023_df = pd.concat([summary_stats_2023_df, summary_2023_df], ignore_index=True)

In [72]:
# New operations - to avoid dividing by zero :

# Add a new column for gross margin - Full file
cleaned_deal_prod_summary_df["gross_margin"] = np.where(
    cleaned_deal_prod_summary_df["amount_in_company_currency"] != 0,
    cleaned_deal_prod_summary_df["total_sku_cost"] / cleaned_deal_prod_summary_df["amount_in_company_currency"],
    np.nan
)


# Add a new column for gross margin - 2022 file
filtered_deal_prod_2022_df["gross_margin"] = np.where(
    filtered_deal_prod_2022_df["amount_in_company_currency"] != 0,
    filtered_deal_prod_2022_df["total_sku_cost"] / filtered_deal_prod_2022_df["amount_in_company_currency"],
    np.nan
)


# Add a new column for gross margin - 2023 file
filtered_deal_prod_2023_df["gross_margin"] = np.where(
    filtered_deal_prod_2023_df["amount_in_company_currency"] != 0,
    filtered_deal_prod_2023_df["total_sku_cost"] / filtered_deal_prod_2023_df["amount_in_company_currency"],
    np.nan
)


filtered_deal_prod_2023_df

C:\Users\atlas\AppData\Local\Temp\ipykernel_7668\1780051265.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_deal_prod_2022_df["gross_margin"] = np.where(
C:\Users\atlas\AppData\Local\Temp\ipykernel_7668\1780051265.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_deal_prod_2023_df["gross_margin"] = np.where(

,po_number,deal_id_x,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,total_intl_sku_cost,cost_per_sku,total_sku_cost,gross_margin
2485,26312,7258923049,12/15/2021,750,710.87,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,64,NaN,NaN,0.0,0.0,1.96,203.76,0.286635
5271,29349,9897009813,8/22/2022,750,1080.00,Direct,New Business,NaN,Closed and Won,3D Builder,...,NaN,NaN,63,NaN,NaN,0.0,0.0,2.01,307.20,0.284444
7069,31314,10995064705,11/18/2022,120,1321.09,Direct,Existing Business,NaN,Closed and Won,Reorder Button,...,NaN,NaN,10,NaN,NaN,0.0,0.0,2.72,351.36,0.265962
7178,31432,11042755200,11/22/2022,148,1334.40,Distributor,Existing Business,NaN,Closed and Won,NaN,...,NaN,NaN,13,NaN,NaN,0.0,0.0,2.54,357.72,0.268076
7388,31662,10476704066,10/6/2022,120,1368.33,Wholesale,New Business,NaN,Payment Pending,NaN,...,NaN,NaN,10,NaN,NaN,0.0,0.0,3.00,359.04,0.262393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16824,42955,16456013860,12/11/2023,240,79234.12,Distributor,Existing Business,NaN,Payment Pending,NaN,...,NaN,NaN,20,NaN,NaN,0.0,0.0,2.83,23584.32,0.297654
16825,42956,16388154134,12/6/2023,120,96543.70,Distributor,New Business,NaN,Closed and Won,NaN,...,NaN,NaN,10,NaN,NaN,0.0,0.0,2.85,30460.80,0.315513
16826,42957,14108635196,7/13/2023,120,101574.25,Distributor,New Business,NaN,Closed and Won,NaN,...,NaN,NaN,10,NaN,NaN,0.0,0.0,3.84,30624.96,0.301503
16827,42958,16358971743,12/4/2023,360,137620.00,Direct,New Business,NaN,Closed and Won,NaN,...,NaN,NaN,30,NaN,NaN,0.0,0.0,1.96,35156.16,0.255458
16828,42961,16327565462,12/1/2023,250,151035.11,Distributor,Existing Business,NaN,Payment Pending,NaN,...,NaN,NaN,21,NaN,NaN,0.0,0.0,1.96,43086.72,0.285276

In [39]:
filtered_deal_prod_2022_df

,po_number,deal_id_x,order_created,total_deal_quantity,amount_in_company_currency,client_type_x,deal_type_x,special_order_type,deal_stage,automation_tools,...,deal_type_y,deal_id_y,Total SKU DZ on PO,intl_unit_cost,fixed_intl_pkg_cost,total_intl_unit_cost_dont_use,COGS int SKU Cost exact,cost_per_sku,total_sku_cost,gross_margin
0,21408,6324219821,9/28/2021,60.0,832.20,Direct,Existing Business,None,Closed and Won,Reorder Button,...,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32,0.221485
1,21546,6312709524,9/27/2021,60.0,630.00,Distributor,Existing Business,None,Closed and Won,None,...,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32,0.292571
2,23021,6954332007,11/18/2021,1000.0,6460.00,Distributor,Existing Business,None,Closed and Won,None,...,None,NaN,84.0,NaN,NaN,0.0,0.0,1.88,1973.76,0.305536
3,23099,7049269626,11/30/2021,60.0,540.00,Distributor,Existing Business,None,Closed and Won,None,...,None,NaN,5.0,NaN,NaN,0.0,0.0,2.56,184.32,0.341333
4,23341,7229722885,12/12/2021,720.0,4456.80,Distributor,Existing Business,None,Closed and Won,None,...,None,NaN,60.0,NaN,NaN,0.0,0.0,1.91,1398.12,0.313705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8108,32424,11527448453,12/30/2022,60.0,854.40,Direct,Existing Business,None,Closed and Won,Portal Order,...,None,NaN,5.0,NaN,NaN,0.0,0.0,3.66,263.52,0.308427
8109,32425,11527798288,12/30/2022,102.0,793.56,Distributor,Existing Business,None,Closed and Won,None,...,None,NaN,9.0,NaN,NaN,0.0,0.0,3.58,429.60,0.541358
8110,32426,11524857710,12/30/2022,377.0,4493.84,Direct,New Business,None,Closed and Won,Template Download,...,None,NaN,32.0,NaN,NaN,0.0,0.0,1.96,799.68,0.177950
8112,32429,11528977781,12/30/2022,75.0,732.00,Distributor,Existing Business,None,Closed and Won,None,...,None,NaN,7.0,NaN,NaN,0.0,0.0,2.56,245.76,0.335738
16838,99999,10188108889,9/14/2022,180.0,0.00,Direct,Existing Business,None,Closed and Won,None,...,None,NaN,15.0,NaN,NaN,0.0,0.0,2.56,552.96,inf

In [73]:
# GroupBy Client_type_x Summary Stats 2022

# Define the group by column
group_by_column = "client_type_x"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_client_sum_2022_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_client_2022_df = filtered_deal_prod_2022_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2022_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_client_sum_2022_df.empty:
        grouped_client_sum_2022_df = column_summary_df
    else:
        grouped_client_sum_2022_df = pd.concat([grouped_client_sum_2022_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_client_sum_2022_df = pd.DataFrame(grouped_client_sum_2022_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_client_sum_2022_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_client_sum_2022_df = grouped_client_sum_2022_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_client_sum_2022_df = pd.concat([descriptions_df, grouped_client_sum_2022_df])

# Save the summary DataFrame as a new CSV file
grouped_client_sum_2022_df.to_csv('grouped_summary_2022_client.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_client_sum_2022_df.head()

,amount_in_company_currency_mean,amount_in_company_currency_max,amount_in_company_currency_min,amount_in_company_currency_sum,amount_in_company_currency_std,total_deal_quantity_mean,total_deal_quantity_max,total_deal_quantity_min,total_deal_quantity_sum,total_deal_quantity_std,total_sku_cost_mean,total_sku_cost_max,total_sku_cost_min,total_sku_cost_sum,total_sku_cost_std,gross_margin_mean,gross_margin_max,gross_margin_min,gross_margin_sum,gross_margin_std
0,amount_in_company_currency_Average,amount_in_company_currency_Maximum,amount_in_company_currency_Minimum,amount_in_company_currency_Total,amount_in_company_currency_Standard Deviation,total_deal_quantity_Average,total_deal_quantity_Maximum,total_deal_quantity_Minimum,total_deal_quantity_Total,total_deal_quantity_Standard Deviation,total_sku_cost_Average,total_sku_cost_Maximum,total_sku_cost_Minimum,total_sku_cost_Total,total_sku_cost_Standard Deviation,gross_margin_Average,gross_margin_Maximum,gross_margin_Minimum,gross_margin_Total,gross_margin_Standard Deviation
0,936.6751,1515.0,0.0,7567398.13,306.255649,331.160045,25085.0,0.0,2675442.0,762.167536,256.484233,375.96,0.0,2072136.12,87.221895,0.270909,0.308124,0.0,2150.472943,0.046227

In [74]:
# GroupBy Client_type_x Summary Stats 2023

# Define the group by column
group_by_column = "client_type_x"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_client_sum_2023_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_client_2023_df = filtered_deal_prod_2023_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2023_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_client_sum_2023_df.empty:
        grouped_client_sum_2023_df = column_summary_df
    else:
        grouped_client_sum_2023_df = pd.concat([grouped_client_sum_2023_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_client_sum_2023_df = pd.DataFrame(grouped_client_sum_2023_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_client_sum_2023_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_client_sum_2023_df = grouped_client_sum_2023_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_client_sum_2023_df = pd.concat([descriptions_df, grouped_client_sum_2023_df])

# Save the summary DataFrame as a new CSV file
grouped_client_sum_2023_df.to_csv('grouped_summary_2023_client.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_client_sum_2023_df.head()

,amount_in_company_currency_mean,amount_in_company_currency_max,amount_in_company_currency_min,amount_in_company_currency_sum,amount_in_company_currency_std,total_deal_quantity_mean,total_deal_quantity_max,total_deal_quantity_min,total_deal_quantity_sum,total_deal_quantity_std,total_sku_cost_mean,total_sku_cost_max,total_sku_cost_min,total_sku_cost_sum,total_sku_cost_std,gross_margin_mean,gross_margin_max,gross_margin_min,gross_margin_sum,gross_margin_std
0,amount_in_company_currency_Average,amount_in_company_currency_Maximum,amount_in_company_currency_Minimum,amount_in_company_currency_Total,amount_in_company_currency_Standard Deviation,total_deal_quantity_Average,total_deal_quantity_Maximum,total_deal_quantity_Minimum,total_deal_quantity_Total,total_deal_quantity_Standard Deviation,total_sku_cost_Average,total_sku_cost_Maximum,total_sku_cost_Minimum,total_sku_cost_Total,total_sku_cost_Standard Deviation,gross_margin_Average,gross_margin_Maximum,gross_margin_Minimum,gross_margin_Total,gross_margin_Standard Deviation
0,4239.155262,151035.11,710.87,37092608.54,5506.768942,303.085714,20135.0,0.0,2652000.0,661.353942,1139.458889,43086.72,203.76,9970265.28,1548.664653,0.265789,0.31905,0.243145,2325.657202,0.010741

In [ ]:
# GroupBy deal_type_x Summary Stats 2022

# Define the group by column
group_by_column = "deal_type_x"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_deal_sum_2022_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_deal_2022_df = filtered_deal_prod_2022_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2022_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_deal_sum_2022_df.empty:
        grouped_deal_sum_2022_df = column_summary_df
    else:
        grouped_deal_sum_2022_df = pd.concat([grouped_deal_sum_2022_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_deal_sum_2022_df = pd.DataFrame(grouped_deal_sum_2022_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_deal_sum_2022_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_deal_sum_2022_df = grouped_deal_sum_2022_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_deal_sum_2022_df = pd.concat([descriptions_df, grouped_deal_sum_2022_df])

# Save the summary DataFrame as a new CSV file
grouped_deal_sum_2022_df.to_csv('grouped_summary_2022_deal.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_deal_sum_2022_df.head()

In [ ]:
# GroupBy deal_type_x Summary Stats 2023

# Define the group by column
group_by_column = "deal_type_x"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_deal_sum_2023_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_deal_2023_df = filtered_deal_prod_2023_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2023_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_deal_sum_2023_df.empty:
        grouped_deal_sum_2023_df = column_summary_df
    else:
        grouped_deal_sum_2023_df = pd.concat([grouped_deal_sum_2023_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_deal_sum_2023_df = pd.DataFrame(grouped_deal_sum_2023_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_deal_sum_2023_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_deal_sum_2023_df = grouped_deal_sum_2023_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_deal_sum_2023_df = pd.concat([descriptions_df, grouped_deal_sum_2023_df])

# Save the summary DataFrame as a new CSV file
grouped_deal_sum_2023_df.to_csv('grouped_summary_2023_deal.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_deal_sum_2023_df.head()

In [ ]:
# GroupBy chassis Summary Stats 2022

# Define the group by column
group_by_column = "chassis"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_chassis_sum_2022_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_chassis_2022_df = filtered_deal_prod_2022_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2022_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_chassis_sum_2022_df.empty:
        grouped_chassis_sum_2022_df = column_summary_df
    else:
        grouped_chassis_sum_2022_df = pd.concat([grouped_chassis_sum_2022_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_chassis_sum_2022_df = pd.DataFrame(grouped_chassis_sum_2022_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_chassis_sum_2022_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_chassis_sum_2022_df = grouped_chassis_sum_2022_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_chassis_sum_2022_df = pd.concat([descriptions_df, grouped_chassis_sum_2022_df])

# Save the summary DataFrame as a new CSV file
grouped_chassis_sum_2022_df.to_csv('grouped_summary_2022_chassis.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_chassis_sum_2022_df.head()

In [ ]:
# GroupBy chassis Summary Stats 2023

# Define the group by column
group_by_column = "chassis"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_chassis_sum_2023_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_chassis_2023_df = filtered_deal_prod_2023_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2023_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_chassis_sum_2023_df.empty:
        grouped_chassis_sum_2023_df = column_summary_df
    else:
        grouped_chassis_sum_2023_df = pd.concat([grouped_deal_sum_2023_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_chassis_sum_2023_df = pd.DataFrame(grouped_chassis_sum_2023_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_chassis_sum_2023_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_chassis_sum_2023_df = grouped_chassis_sum_2023_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_chassis_sum_2023_df = pd.concat([descriptions_df, grouped_chassis_sum_2023_df])

# Save the summary DataFrame as a new CSV file
grouped_chassis_sum_2023_df.to_csv('grouped_summary_2023_chassis.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_chassis_sum_2023_df.head()

In [ ]:
# GroupBy vendor_id Summary Stats 2022

# Define the group by column
group_by_column = "vendor_id"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_vendor_sum_2022_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_vendor_2022_df = filtered_deal_prod_2022_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2022_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_vendor_sum_2022_df.empty:
        grouped_vendor_sum_2022_df = column_summary_df
    else:
        grouped_vendor_sum_2022_df = pd.concat([grouped_vendor_sum_2022_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_vendor_sum_2022_df = pd.DataFrame(grouped_vendor_sum_2022_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_vendor_sum_2022_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_vendor_sum_2022_df = grouped_vendor_sum_2022_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_vendor_sum_2022_df = pd.concat([descriptions_df, grouped_vendor_sum_2022_df])

# Save the summary DataFrame as a new CSV file
grouped_vendor_sum_2022_df.to_csv('grouped_summary_2022_vendor.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_vendor_sum_2022_df.head()

In [ ]:
# GroupBy chassis Summary Stats 2023

# Define the group by column
group_by_column = "chassis"

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.2f}'.format

# Define the list of columns for summary statistics
list_of_columns = ["amount_in_company_currency", "total_deal_quantity", "total_sku_cost", "gross_margin"]

# Initialize an empty DataFrame to store the summary statistics
grouped_chassis_sum_2023_df = pd.DataFrame()

# Perform group by and summary statistics
grouped_chassis_2023_df = filtered_deal_prod_2023_df.groupby(group_by_column)

for column in list_of_columns:
    # Perform summary statistics on each column
    summary_functions = ['mean', 'max', 'min', 'sum', 'std']
    column_summary_df = filtered_deal_prod_2023_df[column].agg(summary_functions).add_prefix(column + '_')

    # Concatenate the summary DataFrame with the previous ones
    if grouped_chassis_sum_2023_df.empty:
        grouped_chassis_sum_2023_df = column_summary_df
    else:
        grouped_chassis_sum_2023_df = pd.concat([grouped_deal_sum_2023_df, column_summary_df])

# Convert the Series object to a DataFrame
grouped_chassis_sum_2023_df = pd.DataFrame(grouped_chassis_sum_2023_df).T

# Create a DataFrame with the descriptions as the first row
descriptions_df = pd.DataFrame([column_names], columns=grouped_chassis_sum_2023_df.columns)

# Ensure the number of columns in grouped_client_sum_2022_df matches descriptions_df
grouped_chassis_sum_2023_df = grouped_chassis_sum_2023_df.reindex(columns=descriptions_df.columns)

# Concatenate the descriptions DataFrame with the summary DataFrame
grouped_chassis_sum_2023_df = pd.concat([descriptions_df, grouped_chassis_sum_2023_df])

# Save the summary DataFrame as a new CSV file
grouped_chassis_sum_2023_df.to_csv('grouped_summary_2023_chassis.csv', index=False)

# Reset the display format to the default
pd.options.display.float_format = None

# Print the first 5 records
grouped_chassis_sum_2023_df.head()